<div class="container">
    <div class="row">
        <div class="col-md-6 detailch" >
           
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <a routerLink="contactdetailshow" routerLinkActive="active">CHECK MESSAGE</a>
                    </div>
                    <div class="col-md-4">
                        <i class="fa-solid fa-check fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 detailch">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <a routerLink="viewdetail" routerLinkActive="active">STUDENT DETAILS</a>
                    </div>
                    <div class="col-md-4">
                        <i class="fa-solid fa-user fa-2x"></i>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
<router-outlet></router-outlet>
