<div class="container" style="margin-top: 20px; margin-bottom: 40px;">

    <div class="slider">
        <div class="slides">
            <img src="assets/image2.jpg" alt="">
            <img src="assets/image4.jpg" alt="">
            <img src="assets/girl7.jpg" alt="">
            <img src="assets/girl4.jfif" alt="">
            <img src="assets/girl2.jfif" alt="">
            <img src="assets/girl1.jfif" alt="">
        </div>
        <div class="navigation">
            <div class="prev" (click)="prevSlide()">
                <button class="btn btn-dark"><i class="fa-solid fa-left fa-4x"></i>PREV</button>
            </div>
        </div>
        <div class="navigation1">
            <div class="next" (click)="nextSlide()">
                <button class="btn btn-dark"> <i class="fa-regular fa-right fa-2x"></i>NEXT</button>
            </div>
        </div>
    </div>
</div>

